################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs/dtownbeats/config
/.vs/dtownbeats/config/applicationhost.config
/.vs/dtownbeats/FileContentIndex
/.vs/dtownbeats/FileContentIndex/0c7a8071-49e0-46f5-8a07-fd335a4bbf38.vsidx
/.vs/dtownbeats/FileContentIndex/1e64b1b0-b2d5-411c-a23a-0daf96e88a9a.vsidx
/.vs/dtownbeats/FileContentIndex/2d043e17-a303-4feb-83a0-4a96f094caa1.vsidx
/.vs/dtownbeats/FileContentIndex/84c4843f-ecf7-4579-8e5d-f9731167af00.vsidx
/.vs/dtownbeats/FileContentIndex/a684ace7-09bf-48f4-91d9-12971d2cc079.vsidx
/.vs/dtownbeats/v17
/.vs/dtownbeats/v17/.wsuo
/.vs/dtownbeats/v17/DocumentLayout.backup.json
/.vs/dtownbeats/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.gitignore
